{% extends 'shared/base.html' %}
{% load static %}

{% block title %}همه اهنگ‌ها{% endblock title %}

{% block content %}
  <main id="page_content">
    <div
      class="hero"
      style="background-image: url({% static 'images/banner/song.jpg' %})"
    ></div>
    <div class="under-hero container">
      <div class="section">
        <div class="section__head">
          <div class="flex-grow-1">
            <span class="section__subtitle"> ویژه‌ترین را گوش دهید</span>
            <h3 class="mb-0">
              ویژه <span class="text-primary">ترین ها</span>
            </h3>
          </div>
        </div>
        <div class="swiper-carousel swiper-carousel-button">
          <div dir="rtl"
            class="swiper"
            data-swiper-slides="5"
            data-swiper-autoplay="true"
          >
            <div class="swiper-wrapper">
              {% for music in musics %}
                <div class="swiper-slide">
                  <div
                    class="cover cover--round"
                    data-song-id="{{music.id}}"
                    data-song-name="{{music.name}}"
                    data-song-artist="ناشناس"
                    data-song-album="بدون آلبوم"
                    data-song-url="{{music.file.url}}"
                    data-song-cover="{{music.image.url}}"
                  >
                    <div class="cover__head">
                      <ul class="cover__label d-flex">
                        <li>
                          <span class="badge rounded-pill bg-danger"
                            ><i class="bi bi-heart-fill"></i
                          ></span>
                        </li>
                      </ul>
                      <div
                        class="cover__options dropstart d-inline-flex ms-auto"
                      >
                        <a
                          class="dropdown-link"
                          href="javascript:void(0);"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-label="Cover options"
                          aria-expanded="false"
                          ><i class="bi bi-three-dots-vertical fa-xl"></i
                        ></a>
                        <ul class="dropdown-menu dropdown-menu-sm">
                          <li>
                            <a
                              class="dropdown-item"
                              href="javascript:void(0);"
                              role="button"
                              data-favorite-id="1"
                              >مورد علاقه</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="javascript:void(0);"
                              role="button"
                              data-playlist-id="1"
                              >افزودن به لیست</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="javascript:void(0);"
                              role="button"
                              data-queue-id="1"
                              >افزودن به صف</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="javascript:void(0);"
                              role="button"
                              data-next-id="1"
                              >بعدی برای پخش</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="javascript:void(0);"
                              role="button"
                              >اشتراک</a
                            >
                          </li>
                          <li class="dropdown-divider"></li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="javascript:void(0);"
                              role="button"
                              data-play-id="1"
                              >پخش</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="cover__image">
                      <img
                        src="{{music.image.url}}"
                        alt="{{music.name}}"
                      />
                      <button
                        type="button"
                        class="btn btn-play btn-default btn-icon rounded-pill"
                        data-play-id="1"
                      >
                        <i class="bi bi-play-fill fa-xl icon-play"></i>
                        <i class="bi bi-pause-fill fa-xl icon-pause"></i>
                      </button>
                    </div>
                    <div class="cover__foot">
                      <a
                        href="song-details.html"
                        class="cover__title text-truncate"
                        >{{music.name}}</a
                      >
                      <p class="cover__subtitle text-truncate">
                        <a href="artist-details.html">ناشناس</a>
                      </p>
                    </div>
                  </div>
                </div>             
              {% endfor %}
            </div>
          </div>
          <div class="swiper-button-prev btn-default rounded-pill"></div>
          <div class="swiper-button-next btn-default rounded-pill"></div>
        </div>
      </div>
      <div class="section">
        <div class="section__head align-items-center">
          <span class="d-block pe-3 fs-6 fw-semi-bold"
            >{{musics.count}} موزیک در لیست</span
          >
          <div>
            <select class="form-select" aria-label="Filter song">
              <option value="Popular">محبوب</option>
              <option value="Most played">بیشترین پخش</option>
              <option value="A to Z">الفبا (صعودی)</option>
              <option value="Z to A">الفبا (نزولی)</option>
            </select>
          </div>
        </div>
        <div class="list">
          <div id="music-list-container" class="row">
            {% for music in musics %}
              <div class="col-xl-6">
                <div
                  class="list__item"
                  data-song-id="{{music.id}}"
                  data-song-name="{{music.name}}"
                  data-song-artist="ناشناس"
                  data-song-album="بدون آلبوم"
                  data-song-url="{{music.file.url}}"
                  data-song-cover="{{music.image.url}}"
                >
                  <div class="list__cover">
                    <img
                      src="{{music.image.url}}"
                      alt="{{music.name}}"
                    />
                    <a
                      href="javascript:void(0);"
                      class="btn btn-play btn-sm btn-default btn-icon rounded-pill"
                      data-play-id="{{music.id}}"
                      aria-label="Play pause"
                      ><i class="bi bi-play-fill fa-xl icon-play"></i>
                      <i class="bi bi-pause-fill fa-xl icon-pause"></i
                    ></a>
                  </div>
                  <div class="list__content">
                    <a
                      href="song-details.html"
                      class="list__title text-truncate"
                      >{{music.name}}</a
                    >
                    <p class="list__subtitle text-truncate">
                      <a href="artist-details.html">ناشناس</a>
                    </p>
                  </div>
                  <ul class="list__option">
                    <li>
                      <a
                        href="javascript:void(0);"
                        role="button"
                        class="d-inline-flex"
                        aria-label="Favorite"
                        data-favorite-id="1"
                        ><i class="bi bi-heart fa-xl heart-empty"></i>
                        <i class="bi bi-heart-fill fa-xl heart-fill"></i
                      ></a>
                    </li>
                    <li>{{music.duration}}</li>
                    <li class="dropstart d-inline-flex">
                      <a
                        class="dropdown-link"
                        href="javascript:void(0);"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-label="Cover options"
                        aria-expanded="false"
                        ><i class="bi bi-three-dots fa-xl"></i
                      ></a>
                      <ul class="dropdown-menu dropdown-menu-sm">
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            data-playlist-id="1"
                            >افزودن به لیست</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            data-queue-id="1"
                            >افزودن به صف</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            data-next-id="1"
                            >بعدی برای پخش</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            >اشتراک</a
                          >
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            role="button"
                            data-play-id="1"
                            >پخش</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="mt-5 text-center">
          <button  id="load-more-music" class="btn btn-primary"
            ><div class="btn__wrap">
              <i id='load-more-arrow-icon' class="bi bi-arrow-clockwise fa-xl"></i> <span>بارگیری بیشتر</span>
            </div></button>
        </div>
      </div>
    </div>
    <footer id="footer">
    </footer>
  </main>
{% endblock content %}