{% load static %}
  {% for music in musics %}
  <div class="col-xl-6">
    <div
      class="list__item"
      data-song-id="{{music.id}}"
      data-song-name="{{music.name}}"
      data-song-artist="ناشناس"
      data-song-album="بدون آلبوم"
      data-song-url="{{music.file.url}}"
      data-song-cover="{{music.image.url}}"
    >
      <div class="list__cover">
        <img
          src="{{music.image.url}}"
          alt="{{music.name}}"
        />
        <a
          href="javascript:void(0);"
          class="btn btn-play btn-sm btn-default btn-icon rounded-pill"
          data-play-id="{{music.id}}"
          aria-label="Play pause"
          ><i class="bi bi-play-fill fa-xl icon-play"></i>
          <i class="bi bi-pause-fill fa-xl icon-pause"></i
        ></a>
      </div>
      <div class="list__content">
        <a
          href="song-details.html"
          class="list__title text-truncate"
          >{{music.name}}</a
        >
        <p class="list__subtitle text-truncate">
          <a href="artist-details.html">ناشناس</a>
        </p>
      </div>
      <ul class="list__option">
        <li>
          <a
            href="javascript:void(0);"
            role="button"
            class="d-inline-flex"
            aria-label="Favorite"
            data-favorite-id="1"
            ><i class="bi bi-heart fa-xl heart-empty"></i>
            <i class="bi bi-heart-fill fa-xl heart-fill"></i
          ></a>
        </li>
        <li>{{music.duration}}</li>
        <li class="dropstart d-inline-flex">
          <a
            class="dropdown-link"
            href="javascript:void(0);"
            role="button"
            data-bs-toggle="dropdown"
            aria-label="Cover options"
            aria-expanded="false"
            ><i class="bi bi-three-dots fa-xl"></i
          ></a>
          <ul class="dropdown-menu dropdown-menu-sm">
            <li>
              <a
                class="dropdown-item"
                href="javascript:void(0);"
                role="button"
                data-playlist-id="1"
                >افزودن به لیست</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="javascript:void(0);"
                role="button"
                data-queue-id="1"
                >افزودن به صف</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="javascript:void(0);"
                role="button"
                data-next-id="1"
                >بعدی برای پخش</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="javascript:void(0);"
                role="button"
                >اشتراک</a
              >
            </li>
            <li class="dropdown-divider"></li>
            <li>
              <a
                class="dropdown-item"
                href="javascript:void(0);"
                role="button"
                data-play-id="1"
                >پخش</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}

  