{% load static %}
  <header id="header">
    <div class="container">
      <div class="header-container">
        <div class="d-flex align-items-center">
          <a
            href="javascript:void(0);"
            role="button"
            class="header-text sidebar-toggler d-lg-none me-3"
            aria-label="Sidebar toggler"
            ><i class="bi bi-list fa-2xl"></i
          ></a>
          <form action="#" id="search_form" class="me-3">
            <label for="search_input"
              ><i class="bi bi-search fa-xl"></i
            ></label>
            <input
              type="text"
              placeholder="جست و جو موزیک . . ."
              id="search_input"
              class="form-control form-control-sm"
            />
          </form>
          <div class="d-flex align-items-center">
            <div class="dropdown">
              <a
                href="javascript:void(0);"
                class="header-text d-flex align-items-center"
                role="button"
                id="زبان_menu"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                aria-expanded="false"
                ><i class="bi bi-globe-americas fa-xl"></i>
                <span class="d-none d-md-block ms-1">زبان</span></a
              >
              <div
                class="dropdown-menu dropdown-menu-lg dropdown-menu-end"
                aria-labelledby="زبان_menu"
              >
                <div class="py-2 px-4">
                  <span class="d-block fw-bold"
                    >چه موزیکی دوست داری؟</span
                  >
                  <p>زبان هایی را که می خواهید گوش دهید انتخاب کنید.</p>
                </div>
                <div class="dropdown-divider"></div>
                <div class="d-flex flex-wrap py-2">
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_1"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_1"
                        >هندی</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_2"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_2"
                        >پنجابی</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_3"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_3"
                        >تامیل</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_4"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_4"
                        >بنگالی</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_5"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_5"
                        >کانادایی</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_6"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_6"
                        >فارسی</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_7"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_7"
                        >افغانی</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_8"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_8"
                        >انگلیسی</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_9"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_9"
                        >آلمانی</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_10"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_10"
                        >فرانسوی</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_11"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_11"
                        >تاجیک</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_12"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_12"
                        >لاتین</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_13"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_13"
                        >عربی</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_14"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_14"
                        >ترکی</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_15"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_15"
                        >آذری</label
                      >
                    </div>
                  </div>
                  <div class="py-2 px-4 w-50">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lang_16"
                      />
                      <label
                        class="form-check-label fw-semi-bold"
                        for="lang_16"
                        >روسی</label
                      >
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="py-2 px-4">
                  <button
                    type="button"
                    class="btn btn-primary w-100 justify-content-center"
                  >
                    به روز رسانی
                  </button>
                </div>
              </div>
            </div>
            <div class="dropdown ms-3 ms-sm-4">
              <a
                href="javascript:void(0);"
                class="avatar header-text"
                role="button"
                id="user_menu"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                ><div class="avatar__image">
                  <img src="{% static 'images/users/thumb.jpg' %}" alt="user" />
                </div>
                <span class="ps-2 d-none d-sm-block">ادمین</span></a
              >
              <ul
                class="dropdown-menu dropdown-menu-md dropdown-menu-end"
                aria-labelledby="user_menu"
              >
                <li>
                  <div class="py-2 px-3 avatar avatar--lg">
                    <div class="avatar__image">
                      <img src="{% static 'images/users/thumb.jpg' %}" alt="user" />
                    </div>
                    <div class="avatar__content">
                      <span class="avatar__title">ادمین</span>
                      <span class="avatar__subtitle">ادمین</span>
                    </div>
                  </div>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center"
                    href="profile.html"
                    ><i class="ri-user-3-line fs-5"></i>
                    <span class="ps-2">پروفایل</span></a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center"
                    href="favorites.html"
                    ><i class="bi bi-heart fa-xl fs-5"></i>
                    <span class="ps-2">مورد علاقه</span></a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center"
                    href="settings.html"
                    ><i class="ri-settings-line fs-5"></i>
                    <span class="ps-2">تنظیمات</span></a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center"
                    href="plan.html"
                    ><i class="ri-money-dollar-circle-line fs-5"></i>
                    <span class="ps-2">اشتراک</span></a
                  >
                </li>
                <li class="dropdown-divider"></li>
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center external text-danger"
                    href="/listen-music/"
                    ><i class="ri-logout-circle-line fs-5"></i>
                    <span class="ps-2">خروج</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>